/*    GENERAL    */

	/* TODO: AÑADIR COMPLETED A SUBTAREAS*/


	/*  MENU  */
		/*
		https://freefrontend.com/css-menu/
		https://codepen.io/tylerfowle/pen/vEqXMV
		*/
		*{
			box-sizing: border-box;
		}
		html {
			overflow-x: hidden;
			height: 100%;
		}
		body { /* BODY GENERAL */
			height: 100%;
			color: #f5f0f0;
			position: relative;
			background-image: url(https://localhost/proyecto/photo/fondoProvisional.jpg);
			transform: translateX(0);
			transition: transform 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
		}
		.menu {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			width: 400px;
			padding-left: 0;
			transform: translateX(-150%);
			transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
			transition-delay: 0.2s;
		}
		.content { /* CLASE PARA TODOS LOS BLOQUES */
			position: absolute;
			margin: 0 auto;
			padding: 30px 6%;
			font-size: 18px;
			transform: translateX(120%); /* CON ESTO ME ASEGURO QUE SE ALEJAN LAS PANTALLAS QUE NO USO */
			transition: color 1s ease 1s, background 0.5s ease 1s, transform 1000ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.5s;
			background: #002961;
			width: 100%;
		}
		.menu ul { /* LISTA ENTERA */
			margin: 0;
			padding: 30px 0;
			list-style: none;
		}
		.menu ul li { /* CADA UNO DE LA LISTA */
			margin: 0;
			margin-bottom: 5%;
			padding: 0;
		}
		.menu a { /* ENLACES DENTRO DE LAS LISTAS */
			text-decoration: none;
			display: block;
			padding: 10px 20px;
			padding-left: 120px;
			color: #f5f0f0;
		}
		.menu a:hover {
			color: black;
			background: #9DC2F6;
		}
		.contactus_is_visible .contactus, .clients_is_visible .clients, .aboutus_is_visible .aboutus, .home_is_visible .home {
			transform: translateX(0);
		}
		.contactus_is_visible .contactus, .clients_is_visible .clients, .aboutus_is_visible .aboutus, .home_is_visible .home {
			z-index: 10;
		}
		/* ? ACCESO A LOS BLOQUES INDIVIDUALES
		.home_is_visible .home {
			background-color: #002961;
		}
		.clients_is_visible .clients {
			background-color: antiquewhite;
		}
		.aboutus_is_visible .aboutus{
			background-color:brown;
		}
		.contactus_is_visible .contactus {
			background-color: cornflowerblue;
		} 
		*/
		body.nav_is_visible { /* ANIMACIÓN DE ABRIR EL MENÚ */
			transform: translateX(300px);
		}
		body.nav_is_visible .menu {
			transform: translateX(-100%);
		}
	
	
	/* Formulario Login */
	#id_li_form{ /* CONTENEDOR DEL FORM */
		display:flex;
		align-items: center;
		justify-content: center;
	  }
	/* INPUT TEXT GENERAL */
	.group{ /* CONTENEDOR DE CADA INPUT */
		margin-left: 5%;
		position: relative;
	}
	.input_text{ /* CLASE PARA LOS INPUTS */
		font-size: 1em;
		padding: 8% 1.5% 1.5% 1%;
		display: block;
		width: 70%;
		border: none;
		border-bottom: 1px solid #6c6c6c;
		background: transparent;
		color: #f5f0f0;
	}
	.input_text:focus{
		outline:none;
	}
	.lab_input_text{ /* TITULO DE LOS INPUT */
		color: #f5f0f0;
		font-size: 1em;
		font-weight: normal;
		position: absolute;
		pointer-events: none;
		left: 0.5em;
		top: 1em;
		transition: 0.2s ease all;
		-moz-transition: 0.2s ease all;
		-webkit-transition: 0.2s ease all;
	}
	.input_text:focus ~ .lab_input_text, .input_text:valid ~ .lab_input_text{
		top: -0.5em;
		font-size: 0.9em;
		color: #0e94f4;
	}
	.bar{ /* BARRA AZUL */
		position: relative;
		display: block;
		width: 70%;
	}
	.bar:before, .bar:after{
		content: "";
		height: 2px;
		width: 0;
		bottom: 1px;
		position: absolute;
		background: #0e94f4;
		transition: 0.2s ease all;
		-moz-transition: 0.2s ease all;
		-webkit-transition: 0.2s ease all;
	}
	.bar:before{
		left: 50%;
	} 
	.bar:after{
		right: 50%;
	}
	.input_text:focus ~ .bar:before, .input_text:focus ~ .bar:after{
		width: 50%;
	}
	.highlight{
		position: absolute;
		height: 60%;
		width: 0px;
		top: 25%;
		left: 0;
		pointer-events: none;
		opacity: 0.5;
	}
	.input_text:focus ~ .highlight{
		animation: input-focus 0.5s ease;
	}
	#id_user_nf{
		margin-left: 6%;
		color: red;
	}
	@keyframes input-focus{
		from{
			background: #1486d7;
		}
		to{
			background: transparent;
		}
	}

	#id_btn_logout{
		transform: translate(130%, -100%);
		border: solid 1px black;
		border-radius: 5px;
		height: 4em;
		background-color: lightgrey;
	}
	#id_btn_logout:hover{
		background-color: grey;
	}



	  /* BOTON DEL MENÚ*/
	  #cbox{
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;
		height: 28px;
		width: 28px;
		opacity: 0;
		cursor: pointer;
	  }
	  .menu-icon {
		position: absolute;
		border: 2px solid #f5f0f0;
		width: 28px;
		height: 28px;
	  }
	  .menu-icon span {
		position: absolute;
		top: 11px;
		left: 0px;
		right: 0;
		margin: 0 auto;
		display: block;
		height: 2px;
		width: 20px;
		background-color: #f5f0f0;
		pointer-events: none;
	  }
	  .menu-icon span::after {
		content: "";
		position: absolute;
		bottom: -6px;
		display: block;
		height: 2px;
		width: 100%;
		background-color: inherit;
	  }
	  .menu-icon span::before {
		content: "";
		position: absolute;
		top: -6px;
		display: block;
		height: 2px;
		width: 100%;
		background-color: inherit;
	  }
	  #cbox:checked + span {
		transform: rotate(-45deg);
		transition: transform 0.5s 0.5s ease;
	  }
	  #cbox:checked + span::before {
		top: 0;
		transform: rotate(90deg);
		transition: top 0.5s ease, transform 0.5s 0.5s ease;
	  }
	  #cbox:checked + span::after {
		opacity: 0;
		bottom: 0;
		transition: bottom 0.5s ease, opacity 0.5s 0.5s ease;
	  }
	  #cbox + span {
		transform: rotate(0deg);
		transition: transform 0.5s ease;
	  }
	  #cbox + span::before {
		top: -6px;
		transform: rotate(0deg);
		transition: top 0.5s 0.5s ease, transform 0.5s ease;
	  }
	  #cbox + span::after {
		opacity: 1;
		bottom: -6px;
		transition: bottom 0.5s 0.5s ease, opacity 0.5s ease;
	  }

	  /* BOTON DE LOGIN */
	  #id_btn_login{
		display: inline-block;
		position: relative;
		color: #0A0046;
		background: white;
		font-family: inherit;
		font-weight: 500;
		font-size: 17px;
		padding: 16px 24px;
		margin: 10px 0 0 10px;
		border: 2px solid #0A0046;
		border-radius: 8px;
		z-index: 1;
		overflow: hidden;
	  }
	  #id_btn_login:before{
		content: "";
		position: absolute;
		background-color: #0A0046;
		height: 150px;
		width: 200px;
		border-radius: 50%;
		z-index: -1;
		top: 100%;	
		left: 100%;
		transition: 1s;	
	  }
	  #id_btn_login:hover{
		color: white;
		transition: 0.7s;
	  }
	  #id_btn_login:hover::before{
		top: -30px;
		left: -30px;
	  }
	
	  /* 
	   ? https://freefrontend.com/css-buttons/ Botones generales
	   ? https://codepen.io/josetxu/pen/RwjMNzx Posible boton de importante
	   ? https://codepen.io/thebabydino/pen/bGrLprB
	  */
	
	
	/*  HEADER  */
	header{
		text-align: center; 
		/*TODO: texto alineado al centro en grande*/
		/*TODO: ocultar texto al abrir el menu en tablet y movil*/
		/*TODO: */
	}
	
	
	



	
	/* Extra small devices (phones, 600px and down) */
	@media only screen and (max-width: 600px) {
		/*header{
			text-align: left;
			margin-left: 20%;
		}*/
        .listas{
			width: 100%;
			height: 3em;
		}
        /* TODO: AJUSTAR TAMAÑO BOTON EN MOVIL */

		
	}
	/* Small devices (portrait tablets and large phones, 600px and up) */
	@media only screen and (min-width: 600px) {}
	/* Medium devices (landscape tablets, 768px and up) */
	@media only screen and (min-width: 768px) {}
	/* Large devices (laptops/desktops, 992px and up) */
	@media only screen and (min-width: 992px) {}
	/* Extra large devices (large laptops and desktops, 1200px and up) */
	@media only screen and (min-width: 1200px) {}