/*    GENERAL    */

	/*  MENU  */
		/*
		https://freefrontend.com/css-menu/
		https://codepen.io/tylerfowle/pen/vEqXMV
		*/
	*{
		box-sizing: border-box;
	}
	.button {
		position: absolute;
		top: 10px;
		left: 10px;
		z-index: 10;
		color: white;
		padding: 10px;
		font-size: 30px;
		cursor: pointer;
	}
	html {
		overflow-x: hidden;
	}
	body {
		color: #f5f0f0;
		position: relative;
		background-image: url(/photo/143276-el_espacio_exterior-negro-constelacion-via_lactea-objeto_astronomico-x750.jpg);
		transform: translateX(0);
		transition: transform 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	}
	.menu {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 400px;
		padding-left: 0;
		transform: translateX(-150%);
		transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
		transition-delay: 0.2s;
	}
	.content {
		position: absolute;
		margin: 0 auto;
		padding: 30px 20%;
		font-size: 18px;
		transform: translateX(100%);
		transition: color 1s ease 1s, background 0.5s ease 1s, transform 1000ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.5s;
	}
	.menu ul {
		margin: 0;
		padding: 30px 0;
		list-style: none;
	}
	.menu ul li {
		margin: 0;
		margin-bottom: 5%;
		padding: 0;
	}
	.menu a {
		text-decoration: none;
		display: block;
		padding: 10px 20px;
		padding-left: 120px;
		color: #f5f0f0;
	}
	.menu a:hover {
		background: #9DC2F6;
	}
	.contactus_is_visible .contactus, .clients_is_visible .clients, .aboutus_is_visible .aboutus, .home_is_visible .home {
		transform: translateX(0);
	}
	.contactus_is_visible .contactus, .clients_is_visible .clients, .aboutus_is_visible .aboutus, .home_is_visible .home {
		z-index: 5000;
	}
	.home_is_visible .home {
		background: #002961;
	}
	.clients_is_visible .clients {
		background: #002961;
	}
	.aboutus_is_visible .aboutus{
		background: #002961;
	}
	.contactus_is_visible .contactus {
		background: #002961;
	}
	body.nav_is_visible {
		transform: translateX(300px);
	}
	body.nav_is_visible .menu {
		transform: translateX(-100%);
	}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}





















/* Formulario Login */
#id_li_form{
  display:flex;
  align-items: center;
  justify-content: center;
}

.group{
  margin-left: 30%;
  position: relative;
}
.input{
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 185px;
  border: none;
  border-bottom: 1px solid #6c6c6c;
  background: transparent;
  color: #f5f0f0;
}
.input:focus{
  outline:none;
}
label{
  color: #f5f0f0;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.input:focus ~ label, .input:valid ~ label{
  top: -20px;
  font-size: 14px;
  color: #0e94f4;
}
.bar{
  position: relative;
  display: block;
  width: 185px;
}
.bar:before, .bar:after{
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #0e94f4;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before{
left: 50%;
} 
.bar:after{
right: 50%;
}
.input:focus ~ .bar:before, .input:focus ~ .bar:after{
  width: 50%;
}
.highlight{
  position: absolute;
  height: 60%;
  width: 0px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}
.input:focus ~ .highlight{
  animation: input-focus 0.5s ease;
}
@keyframes input-focus{
  from{
    background: #1486d7;
  }
  to{
    width: 185px;
    background: transparent;
  }
}

/* 
 ? https://freefrontend.com/css-buttons/ Botones generales
 ? https://codepen.io/josetxu/pen/RwjMNzx Posible boton de importante
 ? https://codepen.io/thebabydino/pen/bGrLprB
*/





/*  HEADER  */
header{
    text-align: center; 
    /*TODO: texto alineado al centro en grande*/
    /*TODO: ocultar texto al abrir el menu en tablet y movil*/
    /*TODO: */
}










